In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
unit = pd.read_csv('final_unit_info.csv')

In [5]:
unit.head()

,Unnamed: 0,unit,status,no_rooms,no_bath,area(ftsq),id,date,price
0,0,#3,"Off-Market,rent",studio,1 bath,NaN,73971,10/12/2010,1650.0
1,1,#4,"Off-Market,sale",2 beds,3 baths,"2,000 ftsq",73971,08/22/2018,10250.0
2,2,#1,"Off-Market,rent",2 beds,1 bath,"1,100 ftsq",786613,10/18/2018,5995.0
3,3,#3,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,02/15/2011,5400.0
4,4,#5,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,11/20/2013,5200.0

In [11]:
unit[unit.status.str.contains('rent' or 'Off-Market,rent')]

,Unnamed: 0,unit,status,no_rooms,no_bath,area(ftsq),id,date,price
0,0,#3,"Off-Market,rent",studio,1 bath,NaN,73971,10/12/2010,1650.0
2,2,#1,"Off-Market,rent",2 beds,1 bath,"1,100 ftsq",786613,10/18/2018,5995.0
3,3,#3,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,02/15/2011,5400.0
4,4,#5,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,11/20/2013,5200.0
5,5,#2W,"Off-Market,rent",2 beds,1 bath,NaN,73749,10/28/2015,2995.0
8,8,#4,"Off-Market,rent",2 beds,1 bath,650 ftsq,784204,09/28/2015,3200.0
9,9,#4D,"Off-Market,rent",1 bed,1 bath,646 ftsq,784204,08/04/2017,3950.0
10,10,#D,"Off-Market,rent",2 beds,1 bath,800 ftsq,784204,04/07/2015,2900.0
11,11,#6C,"Off-Market,rent",1 bed,1 bath,NaN,784204,07/14/2016,3000.0
12,12,#7B,"Off-Market,rent",1 bed,1 bath,485 ftsq,784204,03/19/2018,2975.0
13,13,#8C,"Off-Market,rent",1 bed,1 bath,500 ftsq,784204,02/02/2015,2300.0
14,14,#1,"Off-Market,rent",2 beds,1 bath,NaN,785105,05/10/2017,2795.0
15,15,#2AK,"Off-Market,rent",2 beds,1 bath,NaN,785105,11/13/2017,2995.0
16,16,#2R,"Off-Market,rent",3 beds,2 baths,NaN,785105,02/05/2017,5495.0
17,17,#3,"Off-Market,rent",2 beds,1 bath,NaN,785105,04/06/2018,2700.0
18,18,#4D,"Off-Market,rent",2 beds,1 bath,600 ftsq,785105,07/13/2018,4000.0
19,19,#4G,"Off-Market,rent",2 beds,1 bath,600 ftsq,785105,07/03/2018,5000.0
20,20,#6,"Off-Market,rent",2 beds,1 bath,NaN,785105,06/09/2018,2900.0
21,21,#6A,"Off-Market,rent",2 beds,1 bath,NaN,785105,07/05/2018,2900.0
22,22,#7,"Off-Market,rent",2 beds,1 bath,NaN,785105,12/04/2017,2995.0
23,23,#10,"Off-Market,rent",2 beds,1 bath,NaN,785105,05/04/2016,3200.0
24,24,#11,"Off-Market,rent",2 beds,1 bath,NaN,785105,10/05/2018,2800.0
25,25,#12,"Off-Market,rent",2 beds,1 bath,NaN,785105,08/29/2015,2800.0
26,26,#13,"Off-Market,rent",2 beds,1 bath,NaN,785105,06/07/2018,2900.0
27,27,#14,"Off-Market,rent",2 beds,1 bath,NaN,785105,04/24/2018,3000.0
28,28,#18,"Off-Market,rent",2 beds,1 bath,NaN,785105,04/27/2017,2995.0
30,30,#1,"Off-Market,rent",2 beds,1 bath,NaN,785404,04/04/2017,3950.0
32,32,#1B,"Off-Market,rent",1 bed,1 bath,514 ftsq,786264,11/26/2018,3499.0
33,33,#2B,"Off-Market,rent",1 bed,1 bath,482 ftsq,786264,02/25/2017,2800.0
34,34,#3B,"Off-Market,rent",1 bed,1 bath,482 ftsq,786264,08/02/2017,2800.0
...,...,...,...,...,...,...,...,...,...
15803,15803,#407A,rent,1 bed,1 bath,700 ftsq,772761,NaN,3230.0
15804,15804,#606,rent,2 beds,1 bath,950 ftsq,772761,NaN,4246.0
15805,15805,#12D,rent,1 bed,1.5 baths,826 ftsq,775856,NaN,3995.0
15808,15808,#14G,rent,1 bed,1 bath,729 ftsq,775856,NaN,3795.0
15810,15810,#21H,rent,2 beds,2 baths,"1,338 ftsq",775856,NaN,5400.0
15813,15813,#26F,rent,studio,1 bath,585 ftsq,775856,NaN,2950.0
15815,15815,#PH4C,rent,3 beds,3 baths,"2,440 ftsq",775856,NaN,14500.0
15816,15816,#8,rent,1 bed,1 bath,NaN,783708,NaN,4500.0
15817,15817,#23B,rent,1 bed,1 bath,"1,087 ftsq",775825,NaN,6200.0
15820,15820,#4,rent,2 beds,2.5 baths,"2,365 ftsq",782154,NaN,12450.0
15821,15821,#1,rent,4 beds,3.5 baths,NaN,76206,NaN,8500.0
15822,15822,#PH,rent,4 beds,4.5 baths,"3,300 ftsq",781385,NaN,15500.0
15825,15825,#4,rent,3 beds,1 bath,NaN,784980,NaN,4071.0
15829,15829,#3F,rent,2 beds,1 bath,NaN,786558,NaN,3200.0
15836,15836,#32BE,rent,2 beds,2.5 baths,"1,668 ftsq",780409,NaN,13500.0
15839,15839,#46WEST,rent,4 beds,4 baths,"3,576 ftsq",780409,NaN,39500.0
15845,15845,#3A,rent,2 beds,1 bath,800 ftsq,783236,NaN,3765.0
15846,15846,#3D,rent,2 beds,1 bath,650 ftsq,783236,NaN,2975.0
15848,15848,#7G,rent,studio,1 bath,507 ftsq,777430,NaN,2550.0
15851,15851,#5,rent,4 beds,1 bath,"1,250 ftsq",776524,NaN,5750.0
15852,15852,#8B,rent,2 beds,2 baths,"1,100 ftsq",781353,NaN,5795.0
15857,15857,#3S,rent,2 beds,1 bath,900 ftsq,786860,NaN,5335.0
15858,15858,#G55,rent,3 beds,1.5 baths,"1,100 ftsq",784946,NaN,4100.0
15860,15860,#1A,rent,1 bed,1 bath,NaN,784318,NaN,1925.0
15861,15861,#D106,rent,2 beds,1 bath,"1,000 ftsq",784893,NaN,3850.0
15868,15868,#TWO,rent,1 bed,1 bath,NaN,785035,NaN,2050.0
15871,15871,#5F,rent,1 bed,1 bath,752 ftsq,779101,NaN,5100.0
15873,15873,#6P,rent,1 bed,1 bath,691 ftsq,779101,NaN,4900.0
15874,15874,#10G,rent,2 beds,2.5 baths,"1,345 ftsq",779101,NaN,8000.0
15876,15876,#22C,rent,2 beds,2 baths,"1,534 ftsq",779101,NaN,11000.0

In [12]:
unit.status.str.contains('rent').sum()

13665

In [15]:
rent_unit = unit[unit.status.str.contains('rent')]

In [23]:
sale_unit = unit[unit.status.str.contains('sale' or 'sold')]

In [18]:
rent_unit.shape

(13665, 9)

In [24]:
sale_unit.shape

(2214, 9)