In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
unit = pd.read_csv('final_unit_info.csv')

In [5]:
unit.head()

,Unnamed: 0,unit,status,no_rooms,no_bath,area(ftsq),id,date,price
0,0,#3,"Off-Market,rent",studio,1 bath,NaN,73971,10/12/2010,1650.0
1,1,#4,"Off-Market,sale",2 beds,3 baths,"2,000 ftsq",73971,08/22/2018,10250.0
2,2,#1,"Off-Market,rent",2 beds,1 bath,"1,100 ftsq",786613,10/18/2018,5995.0
3,3,#3,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,02/15/2011,5400.0
4,4,#5,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,11/20/2013,5200.0

In [7]:
unit.status.str.contains('rent').sum()

13665

In [8]:
rent_unit = unit[unit.status.str.contains('rent')]

In [9]:
sale_unit = unit[unit.status.str.contains('sale' or 'sold')]

In [10]:
rent_unit.shape

(13665, 9)

In [53]:
sale_unit.head()

,Unnamed: 0,unit,status,no_rooms,no_bath,area(ftsq),id,date,price
1,1,#4,"Off-Market,sale",2 beds,3 baths,"2,000 ftsq",73971,08/22/2018,10250.0
6,6,TOWNHOUSE,"Off-Market,sale",5 beds,4 baths,"2,800 ftsq",73749,10/24/2012,14900.0
7,7,#TH,"Off-Market,sale",5 beds,4 baths,"2,800 ftsq",73749,10/24/2012,14900.0
29,29,#TH,"Off-Market,sale",5 beds,5 baths,"4,650 ftsq",73319,05/09/2018,32000.0
31,31,#TWNH,"Off-Market,sale",6 beds,7 baths,"13,000 ftsq",73150,08/25/2009,70000.0

In [11]:
rent_unit.to_csv('rent_unit.csv')

In [12]:
sale_unit.to_csv('sale_unit.csv')

### REAL WORK

In [11]:
building = pd.read_csv('building.csv')

In [12]:
building.head()

,Unnamed: 0,id,bldname,address,type,top_amenity,amenities,transp1,transp2,transp3,transp4,transp5,units,stories,year
0,0,70863,Building: 226 West Broadway,"226 West Broadway, New York, NY, 10013",Rental Building,NaN,['NYC Storm Zone 2'],1at Franklin St under 500 feet,ACEat Canal St 0.11 miles,1at Canal St 0.22 miles,JNQRZ6Wat Canal St 0.23 miles,ACE123at Chambers St 0.41 miles,1 unit,4 stories,Built in 1915
1,1,70863,Building: 226 West Broadway,"226 West Broadway, New York, NY, 10013",Rental Building,NaN,['NYC Storm Zone 2'],1at Franklin St under 500 feet,ACEat Canal St 0.11 miles,1at Canal St 0.22 miles,JNQRZ6Wat Canal St 0.23 miles,ACE123at Chambers St 0.41 miles,1 unit,4 stories,Built in 1915
2,2,70872,Building: 428 Greenwich Street,"428 Greenwich Street, New York, NY, 10013",Mixed-Use Building,NaN,['NYC Storm Zone 1'],1at Canal St 0.2 miles,ACEat Canal St 0.26 miles,1at Franklin St 0.29 miles,CEat Spring St 0.39 miles,JNQRZ6Wat Canal St 0.45 miles,2 units,5 stories,Built in 1915
3,3,70962,Building: 154 Stanton Street,"154 Stanton Street, New York, NY, 10002",Co-op,NaN,"['Pied-a-Terre Allowed', 'Sublets Allowed', 'N...",FJMZat Delancey St-Essex St 0.19 miles,Fat 2nd Av 0.25 miles,JZat Bowery 0.45 miles,BDat Grand St 0.47 miles,Fat East Broadway 0.5 miles,1 unit,2 stories,Built in 1920
4,4,70962,Building: 154 Stanton Street,"154 Stanton Street, New York, NY, 10002",Co-op,NaN,"['Pied-a-Terre Allowed', 'Sublets Allowed', 'N...",FJMZat Delancey St-Essex St 0.19 miles,Fat 2nd Av 0.25 miles,JZat Bowery 0.45 miles,BDat Grand St 0.47 miles,Fat East Broadway 0.5 miles,1 unit,2 stories,Built in 1920

In [13]:
building = building.drop_duplicates('id')

In [14]:
temp = pd.merge(rent_unit, building,on='id')

In [15]:
temp.head()

,Unnamed: 0_x,unit,status,no_rooms,no_bath,area(ftsq),id,date,price,Unnamed: 0_y,...,top_amenity,amenities,transp1,transp2,transp3,transp4,transp5,units,stories,year
0,0,#3,"Off-Market,rent",studio,1 bath,NaN,73971,10/12/2010,1650.0,262,...,NaN,NaN,6at 77th St 0.21 miles,Qat 86th Street 0.22 miles,456at 86th St 0.26 miles,Qat 72nd Street 0.48 miles,6at 68th St 0.66 miles,1 unit,3 stories,Built in 1925
1,2,#1,"Off-Market,rent",2 beds,1 bath,"1,100 ftsq",786613,10/18/2018,5995.0,960,...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
2,3,#3,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,02/15/2011,5400.0,960,...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
3,4,#5,"Off-Market,rent",2 beds,1 bath,"1,200 ftsq",786613,11/20/2013,5200.0,960,...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
4,15093,#2,rent,2 beds,1 bath,"1,200 ftsq",786613,NaN,6500.0,960,...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900

In [16]:
temp['type'] = temp['type'].fillna('Unknown')

In [17]:
temp = temp.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1)

In [18]:
temp['no_rooms'] = temp.no_rooms.str.split(' ').str[0]

In [19]:
for i in temp.index:
    if temp['no_rooms'][i] == 'studio':
        temp['no_rooms'][i] = 0

/nfshome/ql459/.conda/envs/myEnv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
temp['area(ftsq)'].isna().sum()

5879

In [21]:
temp['no_bath'] = temp.no_bath.str.split(' ').str[0]

In [22]:
temp['area(ftsq)'] = temp['area(ftsq)'].str.split(' ').str[0]

### Geocoding

In [23]:
temp2 = temp

In [24]:
temp2.head()

,unit,status,no_rooms,no_bath,area(ftsq),id,date,price,bldname,address,...,top_amenity,amenities,transp1,transp2,transp3,transp4,transp5,units,stories,year
0,#3,"Off-Market,rent",0,1,NaN,73971,10/12/2010,1650.0,Building: 162 East 81st Street,"162 East 81st Street, New York, NY, 10028",...,NaN,NaN,6at 77th St 0.21 miles,Qat 86th Street 0.22 miles,456at 86th St 0.26 miles,Qat 72nd Street 0.48 miles,6at 68th St 0.66 miles,1 unit,3 stories,Built in 1925
1,#1,"Off-Market,rent",2,1,"1,100",786613,10/18/2018,5995.0,House: 307 East 10th Street,"307 East 10th Street, New York, NY, 10009",...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
2,#3,"Off-Market,rent",2,1,"1,200",786613,02/15/2011,5400.0,House: 307 East 10th Street,"307 East 10th Street, New York, NY, 10009",...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
3,#5,"Off-Market,rent",2,1,"1,200",786613,11/20/2013,5200.0,House: 307 East 10th Street,"307 East 10th Street, New York, NY, 10009",...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900
4,#2,rent,2,1,"1,200",786613,NaN,6500.0,House: 307 East 10th Street,"307 East 10th Street, New York, NY, 10009",...,NaN,['NYC Storm Zone 3'],Lat 1st Av 0.25 miles,Lat 3rd Av 0.45 miles,Fat 2nd Av 0.52 miles,6at Astor Place 0.52 miles,NRWat 8th St 0.61 miles,5 units,4 stories,Built in 1900

In [25]:
temp2.to_csv('to_geocode.csv')

In [1]:
from pygeocoder import Geocoder

ModuleNotFoundError: No module named 'pygeocoder'